body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/background/desert-g139b280d3_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.canvas-container {
    display: grid;
    place-items: center;
    height: 100vh;
}

#myCanvas {}

canvas {
    display: flex;
    background-color: black;
    border: 2px solid black;
}